---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const aboutData = t('about') as { imageAlt: string; paragraphs: string[] };
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 md:flex-row dark:text-gray-300"
>
  <div
    class="[>p]:mb-4 [>p>strong]:text-yellow-500 dark:[>p>strong]:text-yellow-100 [>p>strong]:font-normal [>p>strong]:font-mono order-2 text-pretty md:order-1"
  >
    {aboutData.paragraphs.map((paragraph: string) => (
      <p set:html={paragraph} />
    ))}
  </div>

  <img
    width="200"
    height="200"
    src="https://res.cloudinary.com/dl0qx4iof/image/upload/t_Grayscale/v1741862968/1687428697293_hhunqs.jpg"
    alt={aboutData.imageAlt}
    class="order-1 aspect-square h-full w-64 rotate-3 rounded-2xl bg-black/20 object-cover p-1 ring-1 ring-black/70 md:order-2 lg:w-64 lg:p-2 dark:bg-yellow-500/5 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
