---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Agosto 2024 - Marzo 2025",
    title: "Fullstack Developer",
    company: "Mavelpoint",
    description:
      "Desarrollé una plataforma pública y una aplicación SaaS utilizando Astro y Next.js (TypeScript). Implementé autenticación con Clerk, reduciendo errores de autenticación. Optimicé la arquitectura backend con NestJS (Clean Architecture), mejorando los tiempos de respuesta de la API en un 25%.",
  },
  {
    date: "Enero 2024 - Agosto 2024",
    title: "Fullstack Developer",
    company: "Check-in Scan",
    description:
      "Desarrollé una aplicación web híbrida con Next.js y React. Diseñé y desplegué microservicios en NestJS, mejorando la eficiencia en el manejo de datos externos en un 20%. Automatizé el intercambio de datos con agencias gubernamentales.",
  },
  {
    date: "Abril 2022 - Noviembre 2023",
    title: "Junior Web Developer",
    company: "AddComm",
    description:
      "Resolví más de 500 tickets de soporte al cliente, mejorando el tiempo de respuesta en un 40%. Colaboré en la implementación de mejoras en PHP y JavaScript.",
  },
  {
    date: "2021 - 2022",
    title: "Desarrollador Web",
    company: "Freelance",
    description:
      "Trabajé en diversos proyectos independientes, desarrollando aplicaciones web personalizadas y optimizando el rendimiento de sitios web existentes.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
