---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import ExperienceItem from "./ExperienceItem.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const EXPERIENCE = t('experience') as Array<{
  date: string;
  title: string;
  company: string;
  description: string;
}>;
---

<ol class="relative mt-16" role="list" aria-label="Experiencia laboral">
  {
    EXPERIENCE.map((experience: any) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
