---
const personalImageAlt = "칍scar Gallego";
import LinkedInIcon from "@components/icons/LinkedIn.astro";
import MailIcon from "@components/icons/Mail.astro";
import SocialPill from "@components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="mb-4 flex gap-4">
    <img
      class="size-16 rounded-full shadow-lg"
      src="https://res.cloudinary.com/dl0qx4iof/image/upload/t_Profile/v1741861649/IMG_4013_1_ry8tyd.png"
      alt={personalImageAlt}
    />
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, soy 칍scar
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:text-gray-300 [&>strong]:font-semibold [&>strong]:text-yellow-500 dark:[&>strong]:text-yellow-200"
  >
    +3 a침os de experiencia. <strong>Fullstack Developer</strong> de M치laga, Espa침a
    游쀯릖. Especializado en el desarrollo de aplicaciones web 칰nicas.
  </p>
  <nav class="mt-8 flex flex-wrap gap-4">
    <SocialPill href="mailto:work@oscargallegoruiz.com">
      <MailIcon class="size-4" />
      Cont치ctame
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/oscargallegoruiz">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
